@import "../General/variables.scss";

.button {
  padding: 1.1rem 2.8rem;
  border-radius: 5rem;
  color: $white;
  border: 1px solid transparent;
  outline: none;

  &--yellow {
    background-color: #eeaa12;
    font-size: 1.6rem;
    line-height: 1.6;

    &:hover,
    &:focus {
      background-color: #ffbe2d;
    }
  }

  &--violet {
    padding: 1.6rem 5.8rem 1.5rem;
    height: 6rem;
    font-size: 1.8rem;
    line-height: 1.6;
    font-weight: 500;
    background-color: $violet;

    &:hover,
    &:focus {
      background-color: $violet-light;
    }
  }
}
