@import "../General/variables.scss";

.form {
  @media screen and (min-width: 768px) {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  @media screen and (min-width: 992px) {
    width: 47%;
  }

  @media screen and (min-width: 1920px) {
    justify-content: normal;
  }

  &__fieldset {
    margin: 0;
    margin-bottom: 2rem;
    padding: 0;
    border: 0;

    @media screen and (min-width: 768px) {
      width: 57%;
    }

    @media screen and (min-width: 1920px) {
      width: 66%;
      margin-right: 3.3rem;
    }
  }

  &__btn-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
