@import "../../General/variables.scss";

.label-form {
  &__input {
    height: 4.8rem;
    width: 100%;
    font-size: 1.6rem;
    line-height: 2.8;
    padding: 1rem 1.5rem;
    border: 1px solid $white;
    border-radius: 4px;
    outline: none;

    &::placeholder {
      font-size: 1.6rem;
      line-height: 2.8;
      color: #a9a0b6;
    }

    &:hover,
    &:focus {
      border: 1px solid #ffc84d;
    }
  }
}
