@import "../General/variables.scss";

.footer {
  margin: 0;
  padding: 0;
  padding: 5.6rem 2rem 5.2rem;
  background-color: $violet;
  min-height: 34.4rem;

  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    padding: 5.8rem 3.2rem 3.7rem;
    min-height: 17.7rem;
  }

  @media (min-width: 1920px) {
    padding: 8.1rem 30rem;
  }

  &__wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 3.4rem;

    @media screen and (min-width: 768px) {
      justify-content: flex-start;
      max-width: 33%;
    }

    @media screen and (min-width: 1920px) {
      max-width: 40%;
    }
  }

  &__menu {
    margin: 0;
    padding: 0;
    list-style: none;

    @media screen and (min-width: 768px) {
      margin-left: 7.1rem;
    }

    @media screen and (min-width: 1920px) {
      display: flex;
      align-items: center;
      margin-left: 19.1rem;
    }
  }

  &__item {
    margin: 0;
    margin-bottom: 0.4rem;

    @media screen and (min-width: 768px) {
      margin-right: 5.4rem;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__link {
    font-size: 1.6rem;
    line-height: 2.5;
    color: $white;
    text-decoration: none;
    font-weight: 700;
  }
}
